.action-title {
    color: blue;
    font-style: bold;
    font-size: 30px;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;
  }

  .action-div {
    background: lightblue;
    border-radius: 50px;
    border-color: gray;
    border-style: solid;
    border-width: 5px;
    width: 700px;
    height: 62px;
  }